<header
  class="navbar navbar-expand-lg flig-head d-lg-flex justify-content-center"
>
  <div class="navbar-brand">
    <div class="logo">
      <img src="/assets/img/emblem.svg" alt="FLIG logo" />
      <img src="/assets/img/emblem_text.svg" alt="FLIG" />
    </div>
  </div>
  <nav class="w-100 rounded-pill menu p-lg-3">
    <ul
      class="
        nav
        me-auto
        mb-2 mb-lg-0
        justify-content-center justify-content-lg-start
      "
    >
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </nav>
</header>
