<h2>{{ platform }}</h2>

<form
  [formGroup]="flickrForm"
  #f="ngForm"
  (ngSubmit)="onSubmit(f.value)"
  class="form col"
>
  <div>
    <label for="username">Username: </label>
    <input
      type="text"
      class="form-control"
      name="username"
      formControlName="username"
    />
  </div>
  <div>
    <label for="pic-url">Picture URL: </label>
    <input
      type="url"
      class="form-control"
      name="pic-url"
      formControlName="pictureUrl"
    />
  </div>
  <input type="button" ng-click="clickHandle( pic.username )" value="Submit" />
  <p></p>
</form>
